<div class="contain">
  <div class="header">
    <div class="top">
      <h1 style="padding-top: 20px;">काठमाडौँ महानगरपालिका</h1>
      <h2>वडा निरीक्षण अनुगमन सूचक</h2>
    </div>
    <div class="top-down">
      <span> <strong>निरीक्षण गरिएको वडा: </strong> <input type="tel" /></span>
      <span style="padding-left: 10px;"> <strong>वडा सचिवको नाम:</strong> <input style="width: 20%;"
          type="text" /></span>
      <span style="padding-left: 5px;"> <strong> निरिक्षण गरिएको मिति: </strong> <input type="date" /></span>
      <span style="padding-left: 5px;"><strong> निरिक्षण गरिएको समए: </strong> <input type="time" /></span>
      <div class="thegana">
        <span> <strong>वडाको ठेगाना वडाको चार किल्ला: </strong> <input style="width: 20%; margin: 10px 0px ;"
            type="text" /> </span>
      </div>
    </div>
  </div>
  <div class="tbl">
    <table>
      <tr style="text-align: center; border: 2px solid black ">
        <td style="width: 6%"><strong>क.सं.</strong></td>
        <td colspan="2"> <strong>निरिक्षण गरिएका बिषयहरु </strong></td>
        <td><strong>देखिन आएका मुख्य मुख्य कुराहरु/नतिजा</strong></td>
        <td><strong>सुझव एवं सिफारिसको व्यहोरा</strong></td>
      </tr>
      <tr>
        <td>१</td>
        <td>
          <strong>कर्मचारी सम्बन्धी </strong>
          <li>१.१ निर्धारित समयमा हाजिरी जनाएको/ नजनाएको</li>
          <li>१.२ तोकिएको पोसाक लगाएको/ नलगाएको</li>
          <li>१.३ परिचयपत्र लगाएको/ नलगाएको</li>
          <li></li>
          <li>१.४ तोकिएको कार्यास्थलमा भए/ नभएको</li>
        </td>
        <td>
          &nbsp;
          <li>जनाएको <input type="checkbox" /> &nbsp; नजनाएको <input type="checkbox" /> </li>
          <li>लगाएको <input type="checkbox" /> &nbsp; नलगाएको <input type="checkbox" /> </li>
          <li>लगाएको <input type="checkbox" /> &nbsp; नलगाएको <input type="checkbox" /> </li>
          <li>भएको <input type="checkbox" /> &nbsp; नभएको <input type="checkbox" /> </li>
        </td>
        <td>
          <li><textarea cols="30" rows="10"></textarea></li>
        </td>
        <td>
          <li><textarea cols="30" rows="10"></textarea></li>
        </td>
      </tr>
      <tr>
        <td>२</td>
        <td>
          <strong> सेवा प्रवाह </strong>
          <li>२.१ सेवाग्राहीमैत्री कार्यास्थल भए/ नभएको</li>
          <li>२.२ सेवा प्रवाह पालो मिलाएको/ नमिलाएको</li>
          <li>२.३ सेवा लिन आउँदा जानकारी दिने व्यवस्था मिलाएको/ नमिलाएको</li>
          <li>२.४ गुनासो सुन्ने व्यवस्था गरिएको/ नलगरिएको</li>
          <li>
            २.५ सहयोगापेक्षी सेवाग्राहीलाई पुर्याउने व्यवस्था गरिएको/ नगरिएको
          </li>
          <li>२.६ सबैले देख्‌ने ठाँउमा नागरिक वडापत्र राखेको/ नराखेको</li>
        </td>
        <td>&nbsp;
          <li>भएको <input type="checkbox" /> &nbsp; नभएको <input type="checkbox" /> </li>
          <li>मिलाएको <input type="checkbox" /> &nbsp; नमिलाएको <input type="checkbox" /> </li>
          <li>मिलाएको <input type="checkbox" /> &nbsp; नमिलाएको <input type="checkbox" /> </li>
          <li>गरिएको <input type="checkbox" /> &nbsp; नगरिएको <input type="checkbox" /> </li>
          <li>गरिएको <input type="checkbox" /> &nbsp; नगरिएको <input type="checkbox" /> </li>
          <li>राखेको <input type="checkbox" /> &nbsp; नराखेको <input type="checkbox" /> </li>
        </td>
        <td>
          <li><textarea cols="30" rows="10"></textarea></li>
        </td>
        <td>
          <li><textarea cols="30" rows="10"></textarea></li>
        </td>
      </tr>
      <tr>
        <td>३</td>
        <td>
          <strong> कार्यालय व्यवस्थापन </strong>
          <li>३.१ कार्यालयको सरसफाई र सजावटमा ध्यान दिएको/ नदिएको</li>
          <li>३.२ कर्मचारिको मासिक बैठक आयोजना गर्ने गरेको/ नगरेको</li>
          <li>३.३ कर्मचारी लगबुक भरे/ नभरेको</li>
          <li>
            ३.४ कानुन बमोजिम प्रतिवेदन पेश गर्नुपर्ने विषयमा प्रतिवेदन गर्ने
            गरेको/ नगरेको
          </li>
          <li>३.५ जिन्सी सामानको अभिलेख राखे/ नराखेको</li>
          <li>३.६ दर्ता चलानी नियमित गरे/ नगरेको</li>
          <li>३.७ अभिलेख व्यवस्थापनको अवस्था</li>
        </td>
        <td>&nbsp;
          <li>दिएको <input type="checkbox" /> &nbsp; नदिएको <input type="checkbox" /> </li>
          <li>गरेको <input type="checkbox" /> &nbsp; नगरेको <input type="checkbox" /> </li>
          <li>भरेको <input type="checkbox" /> &nbsp; नभरेको <input type="checkbox" /> </li>
          <li>गरेको <input type="checkbox" /> &nbsp; नगरेको <input type="checkbox" /> </li>
          <li>राखेको <input type="checkbox" /> &nbsp; नराखेको <input type="checkbox" /> </li>
          <li>गरेको <input type="checkbox" /> &nbsp; नगरेको <input type="checkbox" /> </li>
          <li>गरेको <input type="checkbox" /> &nbsp; नगरेको <input type="checkbox" /> </li>
        </td>
        <td>
          <li><textarea cols="30" rows="10"></textarea></li>
        </td>
        <td>
          <li><textarea cols="30" rows="10"></textarea></li>
        </td>
      </tr>
      <tr>
        <td>४</td>
        <td>
          <strong> राजस्व संकलन </strong>
          <li>४.१ दैनिक आम्दानी (शिर्षकगत)</li>
          <li>४.२ दैनिक भौचर उठाएको/ नउठाएको</li>
          <li>४.३ भौचर प्रमाणित गरे/ नगरेको</li>
          <li>४.४ मासिक प्रगति पठाएको/ नपठाएको</li>
          <li>४.५ अनलाइन प्रणालिबाट कर तिर्ने करदाताको मूल संख्या</li>
        </td>
        <td>&nbsp;
          <li>राखेको <input type="checkbox" /> &nbsp; नराखेको <input type="checkbox" /> </li>
          <li>उठाएको <input type="checkbox" /> &nbsp; नउठाएको <input type="checkbox" /> </li>
          <li>गरेको <input type="checkbox" /> &nbsp; नगरेको <input type="checkbox" /> </li>
          <li>पठाएको <input type="checkbox" /> &nbsp; नपठाएको <input type="checkbox" /> </li>
          <li><input type="tel" /></li>
        </td>
        <td>
          <li><textarea cols="30" rows="10"></textarea></li>
        </td>
        <td>
          <li><textarea cols="30" rows="10"></textarea></li>
        </td>
      </tr>
      <tr>
        <td>५</td>
        <td>
          <strong> सेवा प्रावाह/ अन्य </strong>
          <li>५.१ मासिक कुल सिफारिस संख्या</li>
          <li>५.२ कार्यरत कर्मचारिको कार्यरत अवधि</li>
          <li>५.३ अन्य कुनै उल्लेख गर्नुपर्ने देखिएमा उल्लेख गर्ने</li>
        </td>
        <td>&nbsp;
          <li><input type="tel" /></li>
          <li><input type="tel" /></li>
          <li><input type="text" /></li>
        </td>
        <td>
          <li><textarea cols="30" rows="10"></textarea></li>
        </td>
        <td>
          <li><textarea cols="30" rows="10"></textarea></li>
        </td>
      </tr>
    </table>
    <div class="submit">
      <button>Submit</button>
    </div>
    <img class="img1" src="assets/img/kmclogo.png" alt="kmclogo">
    <img class="img2" src="assets/img/nepalsarkar.png" alt="nepalsarkar">
  </div>
</div>